<p>child-employee-list works!</p>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="onSelectJavaDeveloper('Angular Developer')">
    <label class="form-check-label" for="flexRadioDefault1">
      Angular Developer
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="onSelectJavaDeveloper('Java Developer')">
    <label class="form-check-label" for="flexRadioDefault2">
      Java Developer
    </label>
  </div>