<div class="container mt-2 border p-2">
    <form>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="id1" name="pname" [(ngModel)]="productObj.productName">
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputPassword1" class="form-label">Price</label>
                <input type="text" class="form-control" id="id2" name="price" [(ngModel)]="productObj.price">
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputPassword1" class="form-label">Quantity</label>
                <input type="text" class="form-control" id="id3" name="quantity" [(ngModel)]="productObj.quantity">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="add()">ADD</button>
        <button type="button" class="btn btn-primary ms-2" (click)="reset()">Reset</button>

    </form>
</div>
